.Poppins {
  font-family: 'Poppins', sans-serif;
}

.Roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

.Worksans {
  font-family: 'Work Sans', sans-serif;
}

.bg-main-1 {
  background-color: #F6EEC9;
}

.bg-main-2 {
  background-color: #931A25;
}

.text-main-1 {
  color: #F6EEC9;
}

.text-main-2 {
  color: #931A25;
}


